html,
body,
#outer-container {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 100;
}

#outer-container {
  width: 110%;
}

.hide {
  display: none;
}

.box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -ms-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #FFF;
  opacity: .7;
  height: 100%;
  width: 100%;
  z-index: 200;
}

.content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 300;
}

.content {
  position: relative;
  top: 50%;
  width: 625px;
  height: 95px;
  margin: 0 auto;
  background-color: rgba(255,255,255,.85);
  padding: 1em;
  opacity: 0;

  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);

  -webkit-transition: all 1500ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 1500ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 1500ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 1500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content.visible {
  opacity: 1;
  width: 645px;
}

.content.bordered {
  border: 10px solid #ddd;
}

.content.open {
  height: 280px;
}

.content p {
  position: absolute;
  bottom: .5em;
  left: 0;
  width: 100%;
  font-family: sans-serif;
  font-weight: 300;
}

#be-amazing {
  width: 95%;
  margin: 1em 0 1em;
}

.clock {
  position: absolute !important;
  bottom: 5em;
}

#loading {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 500;
}

#bhb {
  display: none;
  width: 38%;
  margin-top: 6%;
}

#nyc {
  display: none;
  width: 90%;

  position: fixed;
  top: 60%;
  left: 50%;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -60%);
  -moz-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  -o-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
}

#runner {
  -webkit-transition: left 12000ms linear;
  -moz-transition: left 12000ms linear;
  -ms-transition: left 12000ms linear;
  -o-transition: left 12000ms linear;
  transition: left 12000ms linear;

  position: absolute;
  width: 4%;
  bottom: 0;
  left: -5%;
  opacity: 1;
}

#runner.moving {
  left: 110%;
}

#runner.gone {
  opacity: 0;
}
